/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html, body{
  height: 100%;
}

body{
  background-color: #1e1e1e;
	color: #ddd;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
	color: #D7BA7D
}

a:visited {
	color: cadetblue;
}

.ancho-pantalla-completa {
	width: 100vw;
	position: relative;
}

.alto-pantalla-completa {
	height: 100vh;
	width: 100%;
	overflow-y: scroll;
}

.alto-pantalla-completa::-webkit-scrollbar,
.alto-pantalla-completa::-webkit-scrollbar-thumb {
  overflow: hidden;
	width: 0;
	height: 0;
}

.telon {
	height: 120%;
	width: 100%;
	background-color: blanchedalmond;
}

.intro {
	height: 84vh;
	top: -16vh;
	position: relative;
}

.titulo {
	font-size: 64pt;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-variant: small-caps;
	text-align: center;
}

.centrar-horizontal {
	margin: 22pt 0;
	text-align: center;
}

.video-instructivo {
	background-color: #f66;
	width: 60vw;
	height: 60vh;
	display: inline-block;
}


.video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

#dado {
  position: absolute;
  bottom: 20px;
  left: 50%;
}